/*  header box  */

.type-boxes {
    width: 100%;
    height: 165px;
    background-color: white;
    border-bottom: 2px solid #ECECEC;
}

.type-box {
    width: 768px;
    height: 163px;
    margin: auto;
    background-color: white;
}


.type-box-header {
    padding: 15px 20px;
}


/*  header icon  */

.type-box-icon {
    display: flex;
    margin-bottom: 25px;
}

.type-box-icon-column:first-child {
    margin-right: auto;
}

.type-box-icon-column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.type-box-icon-column span:last-child {
    margin-left: 20px;
}

/*   header name   */  

.type-box-name-main-text {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 25px;
}

/*   header category    */  

.type-box-name-category {
    list-style: none;
    padding-left: 0px;
    display: flex;
}


.type-box-name-category li {
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.type-box-name-category-box-select {
    width: 55px;
    height: 40px;
    background-color: #0152CC;
    border: none;
}

.type-box-name-category-box-select-text {
    font-size: 14px;
    color: white;
}


.type-box-name-category-box {
    width: 55px;
    height: 40px;
    background-color: #FBFBFB;
    border: 2px solid #F1F1F1;
}

.type-box-name-category-box-text {
    font-size: 14px;
    color: black;
}
